@using MyFace.Helpers
<!DOCTYPE html>
<html>
@{ string username = User?.Identity?.Name; }
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav>
    <div class="nav-inner">
        @Html.ActionLink($"My🙂Face", "Index", "Home", "",new { @class = "nav-link" })
        @if (!string.IsNullOrEmpty(username))
        {
            @Html.ActionLink($"Users", "Index", "UserList", "", new { @class = "nav-link" })
        }
        <div class="nav-align-right">
           @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink($"🙂 {username}", "Index", "Wall", new { username = username }, new { @class = "nav-link" });
                @Html.ActionLink("Logout", "Logout", "Account");
            }
            else
            {
                @Html.ActionLink("Login", "Login", "Account");
            }



        </div>
        
    </div>
</nav>
@RenderBody()
</body>
</html>
